<%= form_for([:admin, @article], html: {multipart: true}) do |f| %>
  <ul>
<% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :article_slug %><br />
    <%= f.text_field :article_slug %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label 'author related' %><br />
    <%= f.collection_select(:author_id, Author.all, :id, :author_name, {:selected => if f.object.author then f.object.author.id else ''end}) %>
  </p>
  <p>
    <%= f.label :article_type %><br />
    <%= f.select :article_type,options_for_select(["news","notes","review","preview"],f.object.article_type) %>
  </p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label :story_by %><br/>
    <%=f.text_field :story_by %>
  </p>
  <p>
    <%= f.label :art_by %><br/>
    <%=f.text_field :art_by %>
  </p>
  <p>
    <%= f.label :number_pages %><br/>
    <%=f.number_field :number_pages %>
  </p>
  <p>
    <%= f.label :publisher %><br/>
    <%=f.text_field :publisher %>
  </p>
  <p>
    <%= f.label :published_at %><br/>
    <%=f.date_field :published_at %>
  </p>
  <p>
    <%= f.label :cover_price %><br/>
    <%=f.text_field :cover_price %>
  </p>
  <p>
    <%= f.label :url %><br/>
    <%=f.text_field :url %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%=f.cktext_area :body %>
  </p>
  <p>
  <%= f.label :tag_list %><br />
  <%= f.text_field :tag_list %>
</p>
<p>
  <% if @article.image.exists? %>
     <%=@article.image.url %><br/>
 <% end %>
  <%= f.label :image, "Attach an Image(279x429 px for Review. 1170x569 px for News)" %><br />
  <%= f.file_field :image %>
</p>
<p>
  <%= f.label 'Image description' %><br />
  <%= f.text_field :img_desc %>
</p>
<p>
  <%= f.label 'Image Alternative text' %><br />
  <%= f.text_field :img_alt_text %>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
