<%= form_for([:admin, @article], html: {multipart: true}) do |f| %>
  <ul>
<% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label 'author related' %><br />
     <%= f.collection_select(:author_id, Author.all, :id, :author_name) %>
  </p>
  <p>
    <%= f.label :article_type %><br />
    <%= f.select :article_type,options_for_select(["main","list","review"]) %>
  </p>
  <p>
    <%= f.label :story_by %><br/>
    <%=f.text_field :story_by %>
  </p>
  <p>
    <%= f.label :art_by %><br/>
    <%=f.text_field :art_by %>
  </p>
  <p>
    <%= f.label :number_pages %><br/>
    <%=f.number_field :number_pages %>
  </p>
  <p>
    <%= f.label :publisher %><br/>
    <%=f.text_field :publisher %>
  </p>
  <p>
    <%= f.label :published_at %><br/>
    <%=f.date_field :published_at %>
  </p>
  <p>
    <%= f.label :cover_price %><br/>
    <%=f.text_field :cover_price %>
  </p>
  <p>
    <%= f.label :url %><br/>
    <%=f.text_field :url %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%=f.cktext_area :body %>
  </p>
  <p>
  <%= f.label :tag_list %><br />
  <%= f.text_field :tag_list %>
</p>
<p>
  <% if @article.image.exists? %>
     <%=@article.image.url %><br/>
 <% end %>
  <%= f.label :image, "Attach an Image(380x250 px approx)" %><br />
  <%= f.file_field :image %>
</p>
<p>
  <% if @article.main_image.exists? %>
     <%=@article.main_image.url %><br/>
 <% end %>
  <%= f.label :main_image, "Attach the Main Image(380x460 px approx)" %><br />
  <%= f.file_field :main_image %>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
