<% @articles_list.each do |article| %>
 <div class="col-xs-12" >
   <div id='<%=article.id%>'>
     <%= article.title %>
   </div>
   <div id='<%=article.id%>'>
     <%= article.body %>
   </div>
 </div>
<% end %>
<%= will_paginate @articles_list %>
