
<div class="<%=mobile%> article_list_review nopadding" >
  <div class="col-xs-12 " >
   <% if article.image.exists? %>
      <%= link_to image_tag(article.image.url, :class=>"img-responsive",:alt=>article.img_alt_text), page_path(article) %>
  <% end %>
</div>
 <div class="col-xs-12" >
   <div class="review_article_list_title">
     <%= link_to article.title, page_path(article) %>
   </div>
   <%if article.article_type=="preview" %>
    <p class="article_list_small"> <%= article.publisher %> | Available: <%=article.published_at.strftime("%d %B %Y")%></p>
   <%else%>
    <p class="article_list_small"> By <%= + link_to(article.author.author_name, author_page_path(article.author)) if article.author%> | <%=distance_of_time_in_words_to_now(article.created_at)%> <%= "|" + article.comments.size.to_s if article.comments.size > 0 %></p>
    <%end%>
   </div>
</div>
