<% @main_four_articles.each_slice(2).with_index do |(ar1, ar2),index| %>
 <div class="row-eq-height nopadding">
   <div class="col-xs-4  nopadding">
    <%= link_to image_tag(index==0 ? ar1.main_image.url : ar1.image.url, :class=>"img-responsive main_article_img"), page_path(ar1) %>
    </div>
    <div class="col-xs-8 nopadding">
        <h1 style="color:white;margin:3vw;margin-bottom:0;"><%= link_to ar1.title, page_path(ar1) %> </h1>
        <p class="hero_main_text" style="color:white;margin:3vw;margin-bottom:0;">By <%= link_to(ar1.author.author_name, author_page_path(ar1.author)) if ar1.author%> </p>
    </div>
  </div>
  <div class="row-eq-height nopadding">
    <div class="col-xs-8 nopadding">
      <h1 style="color:white;margin:3vw;margin-bottom:0;"> <%= link_to ar2.title, page_path(ar2) %> </h1 >
      <p class="hero_main_text" style="color:white;margin:3vw;margin-bottom:0;">By <%= link_to(ar2.author.author_name, author_page_path(ar2.author)) if ar2.author%> </p>
    </div>
    <div class="col-xs-4 nopadding">
      <%= link_to image_tag(index==0 ? ar2.image.url : ar2.main_image.url, :class=>"img-responsive main_article_img"), page_path(ar2) %>
    </div>
  </div>
<%end%>

<div class="row-eq-height nopadding">
<%@review_articles.each do |main_art| %>
  <div class="col-xs-4  main_title_small nopadding" >
    <%if main_art.image.exists? %>
      <div class="col-xs-12 nopadding ">
        <%= link_to image_tag(main_art.image.url, :class=>"img-responsive main_article_img"), page_path(main_art) %>
     </div>
    <%end%>
    <div class="col-xs-12 nopadding">
      <h2 class="main_review_art"><%= link_to main_art.title, page_path(main_art) %> </h2>
        <p class="main_review_art">
          By <%= link_to(main_art.author.author_name, author_page_path(main_art.author)) if main_art.author%>
        </p>
    </div>
  </div>
<%end%>
</div>
