<% @main_four_articles.each_slice(2).with_index do |(ar1, ar2),index| %>
<% if index == 0 then
    art_style=ARTICLE_POSITIONS
else
  art_style=ARTICLE_POSITIONS_2
end %>
 <div class="row-eq-height nopadding">
  <div class="<%=art_style[0]%> nopadding">
    <div class="<%=art_style[2]%> nopadding">
      <%= link_to image_tag(index==0 ? ar1.main_image.url : ar1.image.url, :class=>"img-responsive main_article_img"), page_path(ar1) %>
    </div>
    <div class="<%=art_style[2]%> nopadding">
      <h1 >
        <%= link_to ar1.title, page_path(ar1) %>
      </h1>
      <p><%="By" + ar1.author.author_name if ar1.author%></p>
    </div>
  </div>
  <div class="<%=art_style[1]%> nopadding">
    <div class="<%=art_style[3]%> nopadding">
      <%= link_to image_tag(index==0 ? ar2.image.url : ar2.main_image.url, :class=>"img-responsive main_article_img"), page_path(ar2) %>
    </div>
    <div class="<%=art_style[3]%> nopadding">
      <h1 >
        <%= link_to ar2.title, page_path(ar2) %>
      </h1>
      <p><%="By" + ar2.author.author_name if ar2.author%></p>
    </div>
  </div>
</div>
<%end%>
<div class="row-eq-height nopadding">
<%@main_articles.each do |main_art| %>
  <div class="col-xs-4  main_title_small nopadding" >
    <%if main_art.image.exists? %>
      <div class="col-xs-12 nopadding ">
        <%= link_to image_tag(main_art.image.url, :class=>"img-responsive main_article_img"), page_path(main_art) %>
     </div>
    <%end%>
    <div class="col-xs-12 nopadding">
      <h1>
        <%= link_to main_art.title, page_path(main_art) %>
      </h1>
        <p><%="By" + main_art.author.author_name if main_art.author%></p>
      </div>
  </div>
<%end%>
</div>
