  <div class="col-xs-12">
    <% if @article.article_type == 'review'then%>
      <div class="row article_review row-eq-height">
          <%if @article.image.exists? %>
            <div class="col-xs-6" style="padding-right:0;">
                <%= image_tag @article.image.url, :class=>'img-responsive mx-5 article_review_img' %><br/>
                <% end %>
              </div>
        <div class="col-xs-6  article_review_img_text">
          <p> STORY BY : <%=@article.story_by%></p>
          <p> ART BY: <%=@article.art_by%></p>
          <p> PAGES: <%=@article.number_pages%></p>
          <p> PUBLISHER :<%=@article.publisher%> | <%=@article.published_at.strftime("%B %Y")%></p>
          <p> COVER PRICE  : <%=@article.cover_price%></p>
        </div>
      </div>
      <%else%>
      <div class="row">
        <% if @article.image.exists? %>
          <div class="col-xs-12">
            <%= image_tag @article.image.url, :class=>'img-responsive mx-5 main_article_img' %><br/>
        </div>
        <% end %>
      </div>
    <% end %>

    <div class="row article_content ml-1">
      <div class="col-xs-12">
        <%= (@article.body).html_safe %><br />
        <p> Tags:<% @article.tags.each do |tag| %>
          <%= link_to tag.name, tag_page_path(tag) %>
          <% end %>
        </p>
      </div>
    </div>
    <!--<h3>Comments (<%= @article.comments.size %>)</h3>-->
  </div>
