
<h1><%= @article.title %></h1>
<p><%= @article.subtitle %></p>
<p><%= @article.author %> | <%=@article.created_at.to_date%></p>
<% if @article.image.exists? %>
     <%= image_tag @article.image.url %><br/>
 <% end %>

<p>
  <%= (@article.body).html_safe %><br />
</p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, admin_tag_path(tag) %>
  <% end %>
</p>
<h3>Comments (<%= @article.comments.size %>)</h3>
