<!DOCTYPE html>
<html>
  <head>
    <title>Breathing Comics</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'screen', media: 'all', 'data-turbolinks-track': 'reload'  %>
  </head>

  <body>
    <div class="header">
    </div>
    <p class="flash"><%= flash.notice %></p>
    <div>
      <div class="admin_menu">
          <span> <%= link_to "Users",admin_users_path %>  </span>
          <!--<span> <#%= link_to "All Articles",admin_articles_path %>  </span>-->
          <span> <%= link_to "reviews",admin_reviews_path %>  </span>
          <span> <%= link_to "previews",admin_previews_path %>  </span>
          <span> <%= link_to "news",admin_news_path %>  </span>
          <span> <%= link_to "notes",admin_notes_path %>  </span>
          <span> <%= link_to "Tags",admin_tags_path %>  </span>
          <span> <%= link_to "Subscribers",admin_subscribers_path %>  </span>
      </div>
      <div>
        <%= yield %>
        <h6 style="margin-top:25px;">
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
