<!DOCTYPE html>
<html>
  <head>
    <title>Breathing Comics</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120570521-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120570521-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3721531347311894",
        enable_page_level_ads: true
      });
    </script>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

  </head>

  <body>
    <div class="container-fluid">
      <p class="flash"><%= flash.notice %></p>
      <div class="row">
        <div class="col-xs-12 nopadding">
          <%= render partial: 'layouts/main_nav' %>
        </div>
      </div>
      <div class="row">
          <%= yield %>
      </div>
      <div class="row">
        <div class="col-xs-12 footer_small">
          <p>Copyright © 2018 Breathing Comics Media. All Rights Reserved </br>
          Follow us in <a href="https://twitter.com/breathingcomics" target="_blank"> Twitter </a>| <a href="https://www.facebook.com/Breathingcomics-973608026139724" target="_blank"> Facebook </a>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
