<!DOCTYPE html>
<html>
  <head>
    <% if @head_title.nil? %>
      <title>Breathing Comics</title>
    <%else%>
    <title><%=@head_title%></title>

    <%end%>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon-57x57.png' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114.png' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72.png' %>
    <%= favicon_link_tag 'apple-touch-icon-144x144.png' %>
    <%= favicon_link_tag 'apple-touch-icon-60x60.png' %>
    <%= favicon_link_tag 'apple-touch-icon-120x120.png' %>
    <%= favicon_link_tag 'apple-touch-icon-76x76.png' %>
    <%= favicon_link_tag 'apple-touch-icon-152x152.png' %>

    <%= favicon_link_tag 'favicon-196x196.png' %>
    <%= favicon_link_tag 'favicon-96x96.png' %>
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <%= favicon_link_tag 'favicon-16x16.png' %>
    <%= favicon_link_tag 'favicon-128.png' %>

    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <meta name="p:domain_verify" content="304fa424230d9f83a693a014029ef3f9"/>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload',async: Rails.env.production? %>
    <%= stylesheet_link_tag 'rrssb', media: 'all', 'data-turbolinks-track': 'reload',async: Rails.env.production? %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: Rails.env.production? %>
    <%= javascript_include_tag Ckeditor.cdn_url, async: Rails.env.production? %>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120570521-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120570521-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3721531347311894",
        enable_page_level_ads: true
      });
    </script>
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.breathingcomics.com\/","name":"Breathing Comics","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.breathingcomics.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

  </head>

  <body>
    <div class="container-fluid">
      <p class="flash"><%= flash.notice %></p>
      <div class="row">
        <div class="col-xs-12 nopadding">
          <%= render partial: 'layouts/main_nav' %>
        </div>
      </div>
      <div class="row">
          <%= yield %>
      </div>
      <div class="row">
        <div class="col-xs-12 footer_small">
          <p>Copyright © 2018 Breathing Comics Media. All Rights Reserved </br>
          Follow us in <a href="https://twitter.com/breathingcomics" target="_blank"> Twitter </a>|
          <a href="https://www.facebook.com/Breathingcomics-973608026139724" target="_blank"> Facebook </a>|
          <a href="https://www.pinterest.com/breathingcomics" target="_blank"> Pinterest </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
