<!DOCTYPE html>
<html>
  <head>
    <title>Breathing Comics</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <div class="container">
      <p class="flash"><%= flash.notice %></p>
      <div class="row">
        <div class="col-xs-12 nopadding">
          <%= render partial: 'layouts/main_nav' %>
        </div>
      </div>
      <div class="row">
          <%= yield %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Footer</h3>
        </div>
      </div>
    </div>

  </body>
</html>
